{% extends "albums/base.html" %}

{% load tz %}

{% block titleprefix %}View Album - {{ album.name }}{% endblock %}

{% block album_content %}
    <div class="container-fluid">
        <div class="row py-3">
            {% for photo in photos %}
                <div class="col align-self-center">
                    <div class="card border-0">
                        <a href="{% if album_share_id %}
                                    {% url "photos:view_single_photo_album_share" photo.id album_share_id %}
                                {% else %}
                                    {% url "photos:view_single_photo" photo.id %}
                                {% endif %}">
                            <div class="spinner-wrapper">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <img data-src="{% if album_share_id %}
                                        {% url "photos:raw_image_album_share" photo.id album_share_id %}?thumbnail=thumbnail
                                    {% else %}
                                        {% url "photos:raw_image" photo.id %}?thumbnail=thumbnail
                                    {% endif %}" class="img-fluid lazy img-spinner-lazy">
                        </a>
                    </div>
                </div>
                {% if not forloop.last and forloop.counter|divisibleby:3 %}
                    {# Close out the row and start a new one #}
                    </div>
                    <div class="row py-3">
                {% endif %}
            {% empty %}
                <div class="col">
                    <p>There are no photos in this album.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}