[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = {extras = ["redis"], version = "*"}
django-user-sessions = "*"
tensorflow = "*"
whitenoise = "*"
phonenumbers = "*"
gunicorn = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
python-magic = "*"
django-celery-results = "*"
django-redis = "*"
exif = "*"
timezonefinder = "*"
pillow = "*"
"hurry.filesize" = "*"

[dev-packages]
black = "==20.8b1"
isort = "*"
coverage = "*"

[requires]
python_version = "3.8"
