[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = {extras = ["redis"], version = "*"}
django-user-sessions = "*"
whitenoise = "*"
phonenumbers = "*"
gunicorn = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
python-magic = "*"
django-celery-results = "*"
django-redis = "*"
exif = "*"
timezonefinder = "*"
pillow = "*"
"hurry.filesize" = "*"
django-extensions = "*"
ipython = "*"
django-crispy-forms = "*"
django-celery-beat = "*"
django-bootstrap-pagination = "*"
keras = "*"
h5py = "<3.0.0" # temporary
tensorflow = "*"

[dev-packages]
black = "==20.8b1"
isort = "*"
coverage = "*"

[requires]
python_version = "3.8"
