{% extends "base.html" %}

{% load bootstrap_pagination %}

{% block titleprefix %}Tags{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Tags</h2>
        {% if user.is_authenticated %}
            <div class="container-fluid pt-3">
                <a href="{% url "tags:create" %}" class="btn btn-outline-success">Create New Tag</a>
            </div>
        {% endif %}
        <div class="container-fluid pt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tag</th>
                        <th scope="col"></th>   {# Contains buttons, but we don't want a header #}
                    </tr>
                </thead>
                <tbody>
                    {% for tag in object_list %}
                        <tr>
                            <td><a href="{% url "tags:display" tag.tag %}">{{ tag.human_readable_name }}</a></td>
                            <td>
                                {% if user.is_authenticated and user == tag.creator %}
                                    {# Delete tag #}
                                    <a href="{% url "tags:delete" tag.tag %}" class="btn btn-outline-danger" aria-label="Delete">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>There are no tags to display.</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row py-3">
            <div class="col justify-content-center">
                {% bootstrap_paginate page_obj range=10 extra_pagination_classes="justify-content-center" %}
            </div>
        </div>
    </div>
{% endblock %}