{% extends "base.html" %}

{% load tz %}

{% block titleprefix %}Photo{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card border-0">
                    <a href="#" data-toggle="modal" data-target="#photolightbox">
                        <div class="spinner-wrapper">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <img src="{% url "photos:raw_image" image_id %}" class="img-fluid img-spinner"
                             style="cursor: zoom-in;" aria-describedby="#details-description" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col">
                <p id="details-description">
                    {% if photo.description|length > 0 %}
                        {{ photo.description }}
                    {% else %}
                        <i>No description was provided.</i>
                    {% endif %}
                </p>
                <p>
                    <a class="btn btn-outline-primary" href="{% url "photos:update_photo" image_id %}">Edit</a>
                </p>
            </div>
            <div class="col">
                <table class="table table-borderless table-sm">
                    <tbody>
                        {% if photo.photo_taken_time %}
                            <tr>
                                <td><i class="far fa-calendar-alt" aria-label="Taken on (date and time)" aria-details="#details-date"></i></td>
                                <td><p id="details-date">{{ photo.photo_taken_time }}</p></td>
                            </tr>
                        {% endif %}
                        {% if photo.camera_make or photo.camera_model %}
                            <tr>
                                <td><i class="fas fa-camera" aria-label="Taken using" aria-details="#details-camera"></i></td>
                                <td><p id="details-camera">{{ photo.camera_make|title }} {{ photo.camera_model }}</p></td>
                            </tr>
                        {% endif %}
                        {% if photo.aperture_value or photo.shutter_speed_value or photo.focal_length or photo.iso %}
                            <tr>
                                <td>
                                    <i class="fas fa-hourglass-half" aria-label="Further details on image (shutter speed, aperture, etc.)"
                                    aria-details="#details-shutter"></i>
                                </td>
                                <td>
                                    <p id="#details-shutter">
                                        {% if photo.shutter_speed_seconds %}
                                            <span class="pr-2" aria-label="Shutter speed in seconds">{{ photo.shutter_speed_seconds }}"</span>
                                        {% endif %}
                                        {% if photo.aperture_value %}
                                            <span class="pr-2" aria-label="Aperture, f-stop">f/{{ photo.aperture_value_f_stop }}</span>
                                        {% endif %}
                                        {% if photo.focal_length %}
                                            <span class="pr-2" aria-label="Focal length, millimeters">{{ photo.focal_length }}mm</span>
                                        {% endif %}
                                        {% if photo.iso %}
                                            <span class="pr-2" aria-label="ISO">ISO {{ photo.iso }}</span>
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endif %}
                        {% if photo.image_width and photo.image_height and size_hurry %}    {# if image has been processed #}
                            <tr>
                                <td><i class="fas fa-file-image" aria-label="Image file characteristics" aria-details="#details-file"></i></td>
                                <td><p id="details-file">{{ photo.image_width }} &#215; {{ photo.image_height }}, {{ size_hurry }}</p></td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="photolightbox" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-auto">
                                <div class="spinner-wrapper">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <img src="{% url "photos:raw_image" image_id %}" class="img-fluid img-spinner" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}