{% extends "base.html" %}

{% load tz %}

{% block titleprefix %}Photo{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card border-0">
                    <a href="#" data-toggle="modal" data-target="#photolightbox">
                        <div class="spinner-wrapper">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <img data-src="{% if album_share_id %}
                                    {% url "photos:raw_image_album_share" photo.id album_share_id %}?thumbnail=thumbnail
                                {% else %}
                                    {% url "photos:raw_image" photo.id %}?thumbnail=thumbnail
                                {% endif %}" class="img-fluid lazy img-spinner-lazy"
                             style="cursor: zoom-in;" aria-describedby="#details-description" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col">
                <table class="table table-borderless table-sm">
                    <tbody>
                        {# Description #}
                        <tr>
                            <td><i class="far fa-sticky-note" aria-label="Description of image" aria-details="#details-description"></i></td>
                            <td>
                                <p id="details-description">
                                    {% if photo.description|length > 0 %}
                                        {{ photo.description }}
                                    {% else %}
                                        <i>No description was provided.</i>
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        {# Tags #}
                        <tr>
                            <td><i class="fas fa-tags" aria-label="Tags" aria-details="#details-tags"></i></td>
                            <td>
                                <p id="details-tags">
                                    {% for tag in photo.tags.all %}
                                        <a href="#" class="badge badge-primary">{{ tag }}</a>
                                    {% empty %}
                                        There are no tags for this image.
                                    {% endfor %}
                                </p>
                            </td>
                        </tr>
                        {# Albums #}
                        <tr>
                            <td><i class="fas fa-images" aria-label="Albums this image is a part of" aria-details="#details-albums"></i></td>
                            <td>
                                <div id="details-albums">
                                    {% if albums %}
                                        <p>This photo is a part of the following albums:</p>
                                        <ul>
                                            {% for album in albums %}
                                                <li><a href="
                                                    {% if album_share_id %}
                                                        {% url "albums:share_display" album.id album_share_id %}
                                                    {% else %}
                                                        {% url "albums:display" album.id %}
                                                    {% endif %}">{{ album.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>This image is not a part of any album.</p>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {# Public accessibility #}
                        <tr>
                            <td><i class="fas fa-user-friends" aria-label="Is this image publicly accessible?" aria-details="#details-public"></i></td>
                            <td>
                                <p id="details-public">
                                    {% if photo.publicly_accessible %}
                                    This photo is publicly accessible.
                                    {% else %}
                                    This photo is not publicly accessible.
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        {% if user == photo.user %}
                        {# Edit link #}
                        <tr>
                            <td><i class="fas fa-pencil-alt" aria-label="Edit links" aria-details="#edit-links"></i></td>
                            <td>
                                <p id="edit-links">
                                    <a class="btn btn-outline-primary" href="{% url "photos:update_photo" photo.id %}">Edit</a>
                                </p>
                            </td>
                        </tr>
                        {% endif %}
                        {# Uploaded by #}
                        <tr>
                            <td><i class="fas fa-user-alt" aria-label="Owner of picture" aria-details="#details-owner"></i></td>
                            <td>
                                <p id="details-owner">
                                    Uploaded by {{ photo.user.username }}
                                </p>
                            </td>
                        </tr>
                        {# License info #}
                        <tr>
                            <td><i class="far fa-copyright" aria-label="Copyright status" aria-details="#details-copyright"></i></td>
                            <td>
                                <p id="details-copyright">
                                    {{ license }}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-borderless table-sm">
                    <tbody>
                        {% if photo.photo_taken_time %}
                            <tr>
                                <td><i class="far fa-calendar-alt" aria-label="Dates and times for this image" aria-details="#details-date"></i></td>
                                <td>
                                    <div id="details-date">
                                        <p>Taken on {{ photo.photo_taken_time }}</p>
                                        <p>Uploaded on {{ photo.creation_time }}</p>
                                        <p>Last modified {{ photo.last_modified_time }}</p>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% if photo.camera_make or photo.camera_model %}
                            <tr>
                                <td><i class="fas fa-camera" aria-label="Taken using" aria-details="#details-camera"></i></td>
                                <td><p id="details-camera">{{ photo.camera_make|title }} {{ photo.camera_model }}</p></td>
                            </tr>
                        {% endif %}
                        {% if photo.aperture_value or photo.shutter_speed_value or photo.focal_length or photo.iso %}
                            <tr>
                                <td>
                                    <i class="fas fa-hourglass-half" aria-label="Further details on image (shutter speed, aperture, etc.)"
                                    aria-details="#details-shutter"></i>
                                </td>
                                <td>
                                    <p id="#details-shutter">
                                        {% if photo.shutter_speed_seconds %}
                                            <span class="pr-2" aria-label="Shutter speed in seconds">{{ photo.shutter_speed_seconds }}"</span>
                                        {% endif %}
                                        {% if photo.aperture_value %}
                                            <span class="pr-2" aria-label="Aperture, f-stop">f/{{ photo.aperture_value_f_stop }}</span>
                                        {% endif %}
                                        {% if photo.focal_length %}
                                            <span class="pr-2" aria-label="Focal length, millimeters">{{ photo.focal_length }}mm</span>
                                        {% endif %}
                                        {% if photo.iso %}
                                            <span class="pr-2" aria-label="ISO">ISO {{ photo.iso }}</span>
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endif %}
                        {# Flash mode compulsory on all EXIF data #}
                            <tr>
                                <td><i class="fas fa-bolt" aria-label="Flash characteristics" aria-details="#details-flash"></i></td>
                                <td>
                                    <p id="details-flash">
                                        <span class="pr-2" aria-label="Did the flash fire?">
                                            {% if photo.flash_fired %}
                                                Flash fired
                                            {% elif photo.flash_fired == None %}
                                                Flash status unknown
                                            {% else %}
                                                Flash did not fire
                                            {% endif %}
                                        </span>
                                        <span class="pr-2" aria-label="Flash mode">
                                            {% if photo.flash_mode == 1 %}
                                                Flash forced
                                            {% elif photo.flash_mode == 2 %}
                                                Flash disabled
                                            {% elif photo.flash_mode == 3 %}
                                                Flash on automatic mode
                                            {% else %}
                                                Flash mode unknown
                                            {% endif %}
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        {% if photo.image_width and photo.image_height and size_hurry %}    {# if image has been processed #}
                            <tr>
                                <td><i class="fas fa-file-image" aria-label="Image file characteristics" aria-details="#details-file"></i></td>
                                <td><p id="details-file">{{ photo.image_width }} &#215; {{ photo.image_height }}, {{ size_hurry }}</p></td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="photolightbox" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-auto">
                                <div class="spinner-wrapper">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <img data-src="{% if album_share_id %}
                                    {% url "photos:raw_image_album_share" photo.id album_share_id %}
                                {% else %}
                                    {% url "photos:raw_image" photo.id %}
                                {% endif %}" class="img-fluid lazy img-spinner-lazy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}